#mainwrapper{
	width: 100%;
	height: 100%;
	background-image: url('http://nice-cool-pics.com/data/media/26/sky-blue_abstract_about_june.jpg');
	background-size: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	}

#mbar{
	background: transparent;
	top: 40%;
	position: relative;
	width: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
}

#menu li a{
	color: white;
}

#background{
	display: none;
}

#footer{
	width: 100%;
	text-align: center;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	bottom: 0;
	color: white;
}