	html, body{
			width: 100%;
			height: 100%;
			padding: 0px;
			margin: 0px auto;
			font-family: "Tahoma";
		}
	
		/* Menu Bar*/
		 .gradient {
			filter: none;
		}
		
		#mbar{
			height: 70px;
			background: #add9e4; /* Old browsers */
			/*code below got it from http://www.colorzilla.com/gradient-editor/*/
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkZDllNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2Y3ZmJmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(top,  #add9e4 0%, #f7fbfc 99%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#add9e4), color-stop(99%,#f7fbfc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #add9e4 0%,#f7fbfc 99%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #add9e4 0%,#f7fbfc 99%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #add9e4 0%,#f7fbfc 99%); /* IE10+ */
			background: linear-gradient(to bottom,  #add9e4 0%,#f7fbfc 99%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#add9e4', endColorstr='#f7fbfc',GradientType=0 ); /* IE6-8 */
		}
		
		#menu {
			width: 1000px;
			margin: 0 auto;
			padding: 0;
		}
		
		#menu ul{
			margin: 0;
			float: right;
			padding-top: 20px;
			padding-left: 0px;
			list-style-type:none;
		}
		
		#menu ul li{
			display: inline;
		}	
		
	
		#menu li a{
			text-decoration: none;
			color: black;
			margin-top:20px;
		    padding: 10px 20px 10px 20px;
		}

		#menu li a:hover{
			text-decoration: none;
			color: white;
			background-color: #000000;
			opacity: 0.5;
			box-shadow: 10px 10px 5px #888888;
		}	
		
		/*main wrapper*/
		#main_wrapper{
			width: 1000px;
			min-height: 600px;
			margin: 0px auto;
			padding: 10px;
			margin-top: 20px;
			overflow: hidden;
		}
		
		.logInWrapper{
			width: 800px;
			min-height: 500px;
			margin-left: 100px;
			margin-top: 50px;
			position: fixed;
		}
		
		/* Clean up */
		.clean{
			both: clear;
		}
		
